<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Inventario.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Inventario.Properties.Settings.inventarioConnectionString"
            connectionString="Data Source=DESKTOP-6HBE9KH\SQLEXPRESS;Initial Catalog=inventario;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Inventario.Properties.Settings>
            <setting name="Theme" serializeAs="String">
                <value>Default</value>
            </setting>
        </Inventario.Properties.Settings>
    </userSettings>
</configuration>